SpeechRecognition
pyttsx3
opencv-python
pyautogui
requests
beautifulsoup4
langchain
speedtest-cli
pywhatkit
langchain-ollama
langchain-community
langchain-core
python-dotenv
pynput
pylint
google-generativeai
openai
fastapi
uvicorn
psutil
pydantic
pydantic-settings
python-multipart
httpx
chromadb
tiktoken
redis
python-dotenv
pywin32