faster-whisper
kokoro
sounddevice
soundfile
opencv-python
pyautogui
requests
beautifulsoup4
langchain
speedtest-cli
pywhatkit
langchain-ollama
langchain-community
langchain-core
python-dotenv
pynput
pylint
google-generativeai
openai
fastapi
uvicorn
psutil
pydantic
pydantic-settings
python-multipart
httpx
chromadb
tiktoken
redis
python-dotenv
pywin32
spotipy
alpha_vantage
yfinance
deep-translator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib